.loading-box {
    width: 55px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.border {
    position: absolute;
    width: 15px;
    height: 0px;
    background-color: rgb(33, 112, 223);
    top: 0px;
}

#b1 { left: 0px; animation: animation 2s infinite; animation-delay: 0s; }
#b2 { left: 22px; animation: animation 2s infinite; animation-delay: .2s; }
#b3 { left: 44px; animation: animation 2s infinite; animation-delay: .4s; }

@keyframes animation {
    0% {
        height: 0px;
        top: 0px;
    }
    40% {
        height: 50px;
        top: 0px;
    }
    60% {
        height: 50px;
        top: 0px;
    }
    100% {
        height: 0px;
        top: 50px;
    }
}