.loading-box {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.square {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 10px solid rgb(33, 112, 223);
    opacity: .7;
    animation: cubic-bezier(0.77, 0, 0.175, 1) animation 5s infinite;
}

@keyframes animation {
    12.5% {
        transform: rotate(45deg);
        width: 40px;
        height: 40px;
        opacity: 1;
    }
    25% {
        transform: rotate(90deg);
        width: 30px;
        height: 30px;
        opacity: .7;
    }
    37.5% {
        transform: rotate(125deg);
        width: 40px;
        height: 40px;
        opacity: 1;
    }
    50% {
        transform: rotate(180deg);
        width: 30px;
        height: 30px;
        opacity: .7;
    }
    62.5% {
        transform: rotate(225deg);
        width: 40px;
        height: 40px;
        opacity: 1;
    }
    75% {
        transform: rotate(270deg);
        width: 30px;
        height: 30px;
        opacity: .7;
    }
    87.5% {
        transform: rotate(315deg);
        width: 40px;
        height: 40px;
        opacity: 1;
    }
    100% {
        transform: rotate(360deg);
        width: 30px;
        height: 30px;
        opacity: .7;
    }
}